@model Sozial.Models.GameModel

<div class="widget-area comment-section">
    <div>
        <dl class="well">
            <dd>
                <h2>
                    @Html.DisplayFor(model => model.nameOfGame)
                </h2>
            </dd>
            <dd>
                <h4>
                    @Html.DisplayFor(model => model.genre)
                </h4>
            </dd>
            <dd>
                @Html.DisplayFor(model => model.imageUrl)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Unfavorite", "../Game/removeGameFromFave", new { id = Model.gameID })
    </p>
</div>
