/*GENERAL CHANGES*/

body {
    color: #ccc;
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: repeat;
    background-image: url('Images/bg_greener.gif');
    background-color: #242b2a;
    height: 100%;
}

a {
    color: #617087;
}

a:hover, a:active {
    color: #CCC9DC;
}

hr {

    border-color:  #666;
}

.title-adjustments {
    margin-bottom: 5%;

}
.vertical_line 
{
    border-right: thin solid #666;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;


}






/*---------ABOUT PAGE------------*/

.about_cover {
    background-image: url('Images/about_cover.png');
    background-repeat: no-repeat;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
}

.custom-container {

    margin: 0 auto;
    background-color: #000;
    max-width: 2000px;
    width: 100%;
}

.frontpage-each-col {
    border: 3px solid black;
}

.col-md-4.float-left {
    float: left;
    clear: left;
}
.col-md-8.float-right {
  float: right;
}







/*-------FRONT PAGE AND _LAYOUT-----*/

a.nav_logo {
    max-width: 70%;
}

.logo_motto_frontpage {
    z-index: 30;
    position: absolute;
    bottom: 25%;
    right: 45px;
    width: 100%;
}

.logo_motto_frontpage img {
    bottom: 25%;
    right: 45px;
    float: right;
    max-width: 20%;
    min-width: 10%;
}
.logo_motto_frontpage img::after {
    clear: both;
}






/*FRONT PAGE - OVERWRITES FOR THE BOOSTRAP CAROUSEL*/

.carousel-inner > .item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}

.carousel-inner > .item:first-of-type {
  position: relative;
}

.carousel-inner > .active {
  opacity: 1;
  z-index: 3;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  -webkit-transition: opacity 0.8s ease-in-out;
       -o-transition: opacity 0.8s ease-in-out;
          transition: opacity 0.8s ease-in-out;
  opacity: 1;
  left: 0;
  z-index: 2;
}

.carousel-inner > .active.left,
.carousel-inner > .active.right {
  z-index: 1;
}

.carousel-control {
  z-index: 4;
}





/*-----REGISTER VIEW/LOGIN----*/

.steam_button {

    width: 114px;
    height: 43px;
    background-image: url(Images/sits_large_noborder.png);
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: none;
}






/*---- LISTS OF ITEMS----*/

a.list-post-item {
    height: auto;
    min-height: 100px;
    width: 700px;  
}

a.list-post-item.active {
    background-color: #dddddd;
    border-color: #bbbbbb;
    color: #666666;
    display: block;
}

a.list-post-item.active:hover, a.list-post-item.active:active
a.list-post-item.active:focus {
    background-color: #d1d1d1;
    border-color: #bbbbbb;
    color: #666666;
}

a.list-group-item {
    height: auto;
    min-height: 220px;
}

a.list-group-item.active small {
    color: #393939;
}

.well {
    background-color: rgba(68, 68, 68, 0.3);
    border-color: #666;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
}

a.list-group-item.active {
    background-color: #ddd;
    border-color: #bbb;
    color: #666;
    display: block;
}

a.list-group-item.active h4 {
    color: #005c5b;
}

a.list-group-item.active:hover, a.list-group-item.active:active
 a.list-group-item.active:focus {

    background-color: #d1d1d1;
    border-color: #bbb;
    color: #666;
}
.stars {
    margin: 20px auto 1px;    
}

.img_resizer img {
    max-height: 200px;
    border: 1px solid #888;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.text_limit {    
   text-overflow: ellipsis;
}

#readMore {
    color:  #2D7F7E;
    float: right;
    display: block;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    margin: 0;  
    font-weight: bold;
    clear: both; 
}
  
.btn-danger {
    padding: 4px;
}

.btn-success {
  color: #ffffff;
  background-color: #2D7F7E;
  border-color: #16403F;
}

.btn-success:hover, .btn-success:active {
  color: #ffffff;
  background-color: #2D7F7E;
  border-color: #ccc;
}

/*----GAME DETAILS-----*/

.modal-dialog { 

    width: 60%;
    max-width: 100%;
    margin-top: 4%;
    padding: 15px;
    background-color: rgba(0,0,0,0);
}

.modal-content {
    max-width: 100%;
    min-width: 70%; 
    background-color: rgba(100, 100, 100, 0.3);
    border: solid 1px #464646;    
}

.modal-dialog img {
       
    max-width: 100%;       
    margin: 0 auto;
}
/*-----POST VIEW--------*/

.post-view {
    margin-bottom: 5px;
    padding: 5px;
}

#one-post {
    list-style-type: none;
}

.one-post-name {
    border-bottom: 3px solid #464646;
}

.one-post-text {
    border-bottom: 3px solid #464646;
}

.one-post-url {
    border-bottom: 3px solid #464646;
}

.post-reply a {
    background: #464646 no-repeat top left;
    display: block;
    width: 150px;
    height: 30px;
    padding: 6px;
    color: #CCC9DC;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 20px solid #464646;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.comment-view {
    margin-bottom: 50px;
    clear: both;
    background-color: #464646;
    list-style-type: none;
}

.one-comment-name {
    padding: 3px;
    border-bottom: 3px solid #393939;
}

.one-comment-text {
    padding: 3px;
    border-bottom: 3px solid #393939;
}

#one-comment {
    list-style-type: none;
}

.create {
    background: #393939 no-repeat top left;
    display: block;
    width: 150px;
    height: 30px;
    outline: black;
    padding: 6px;
    color: #CCC9DC;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 20px solid #393939;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.col-md-12-border {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-6-border {
    width: 50.00%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin-bottom: 5px;
    background-color: #393939;
}

.col-md-4-border {
    width: 33.33333333333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin-bottom: 5px;
    background-color: #393939;
}


/*----------------------*/