body {
    color: #CCC9DC;
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: repeat;
    background-image: url('Images/bg_greener.gif');
    background-color: #242b2a;
}

a {
    color: #617087;
}

a:hover, a:active {
    color: #CCC9DC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.frontpage-each-col {
    border: 3px solid black;
}

.inline-login ul {

    display: inline;
    list-style-type: georgian;
    padding: 0px;
    margin: 0px;
}

.col-md-4.float-left {
    float: left;
    clear: left;
}
.col-md-8.float-right {
  float: right;
}

.about-indent {
    padding-left: 15px;
}

.carousel-indicators {    
   bottom: 0;
}
.logo_motto_frontpage {

    z-index: 30;
    position: absolute;
    bottom: 25%;
    left: 65%;

}
.logo_motto_frontpage img {


    right: 0;
}