@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <img src="@Url.Content("~/Content/Images/about-cover-photo.png")" />
    </div>
    <h2 class="about-indent">About</h2>
    <div class="col-md-8">
        <h3>Why we are hip</h3>
        <div class="about-each-col">
            <p>
                Lorem ipsizzle dolizzle mammasay mammasa mamma oo sa shizznit, doggy adipiscing shiz. Fizzle sure velizzle, crazy volutpat, suscipit quis, mammasay mammasa mamma oo sa vel, arcu. Pellentesque eget tortor. Sizzle crunk. Fusce izzle dolor things turpizzle tempus rizzle. Maurizzle pellentesque dizzle izzle shiznit. Doggy izzle tortor. Shizzle my nizzle crocodizzle mah nizzle rhoncizzle nisi. In shizzlin dizzle habitasse platea pizzle. Yippiyo dapibus. Curabitur tellus fo shizzle, pretium shizzlin dizzle, mattis crackalackin, da bomb vitae, nunc. Yo mamma suscipit. Integer sempizzle velit sizzle fo shizzle.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/s-sozial-320.png")" />
    </div>
    <div class="col-md-8 float-right">
        <h3>Why we are hip 2</h3>
        <div class="about-each-col">
            <p>
                Lorem ipsizzle dolizzle mammasay mammasa mamma oo sa shizznit, doggy adipiscing shiz. Fizzle sure velizzle, crazy volutpat, suscipit quis, mammasay mammasa mamma oo sa vel, arcu. Pellentesque eget tortor. Sizzle crunk. Fusce izzle dolor things turpizzle tempus rizzle. Maurizzle pellentesque dizzle izzle shiznit. Doggy izzle tortor. Shizzle my nizzle crocodizzle mah nizzle rhoncizzle nisi. In shizzlin dizzle habitasse platea pizzle. Yippiyo dapibus. Curabitur tellus fo shizzle, pretium shizzlin dizzle, mattis crackalackin, da bomb vitae, nunc. Yo mamma suscipit. Integer sempizzle velit sizzle fo shizzle.
            </p>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <img src="@Url.Content("~/Content/Images/s-sozial-320.png")" />
    </div>
</div>