@{
    ViewBag.Title = "News";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="News">
            <h3> We have added a "Like" button to our posts</h3>
            @DateTime.Now
            <p>
                Lorem ipsizzle dolizzle mammasay mammasa mamma oo sa shizznit, doggy adipiscing shiz. Fizzle sure velizzle, crazy volutpat, suscipit quis, mammasay mammasa mamma oo sa vel, arcu. Pellentesque eget tortor. Sizzle crunk. Fusce izzle dolor things turpizzle tempus rizzle. Maurizzle pellentesque dizzle izzle shiznit. Doggy izzle tortor. Shizzle my nizzle crocodizzle mah nizzle rhoncizzle nisi. In shizzlin dizzle habitasse platea pizzle. Yippiyo dapibus. Curabitur tellus fo shizzle, pretium shizzlin dizzle, mattis crackalackin, da bomb vitae, nunc. Yo mamma suscipit. Integer sempizzle velit sizzle fo shizzle.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="News">
            <h3> Now you can select your favorite games</h3>
            @DateTime.Now
            <p>
                Lorem ipsizzle dolizzle mammasay mammasa mamma oo sa shizznit, doggy adipiscing shiz. Fizzle sure velizzle, crazy volutpat, suscipit quis, mammasay mammasa mamma oo sa vel, arcu. Pellentesque eget tortor. Sizzle crunk. Fusce izzle dolor things turpizzle tempus rizzle. Maurizzle pellentesque dizzle izzle shiznit. Doggy izzle tortor. Shizzle my nizzle crocodizzle mah nizzle rhoncizzle nisi. In shizzlin dizzle habitasse platea pizzle. Yippiyo dapibus. Curabitur tellus fo shizzle, pretium shizzlin dizzle, mattis crackalackin, da bomb vitae, nunc. Yo mamma suscipit. Integer sempizzle velit sizzle fo shizzle.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="News">
            <h3> Sozial.is 3 year anniversary</h3>
            @DateTime.Now
            <p>
                Lorem ipsizzle dolizzle mammasay mammasa mamma oo sa shizznit, doggy adipiscing shiz. Fizzle sure velizzle, crazy volutpat, suscipit quis, mammasay mammasa mamma oo sa vel, arcu. Pellentesque eget tortor. Sizzle crunk. Fusce izzle dolor things turpizzle tempus rizzle. Maurizzle pellentesque dizzle izzle shiznit. Doggy izzle tortor. Shizzle my nizzle crocodizzle mah nizzle rhoncizzle nisi. In shizzlin dizzle habitasse platea pizzle. Yippiyo dapibus. Curabitur tellus fo shizzle, pretium shizzlin dizzle, mattis crackalackin, da bomb vitae, nunc. Yo mamma suscipit. Integer sempizzle velit sizzle fo shizzle.
            </p>
        </div>
    </div>
</div>