@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="long-pic">
        <img src="@Url.Content("~/Content/Images/tumblr_static_large.png")" />
    </div>
    <div class="col-md-6">
        <h3>Latest News</h3>
        <div class="frontpage-each-col">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Recent Posts</h3>
        <div class="frontpage-each-col">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Trending Games</h3>
        <div class="frontpage-each-col">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Recruitment Bulletin</h3>
        <div class="frontpage-each-col">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
</div>