
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/gameList.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Steam</title>
</head>
<body>
    <div style="color:red;">This is a proof of concept</div>
    <div id="loadingText">Loading Steam list, give us a few seconds...</div>
    <div>
        <span id="gameCount"></span>
        <div id="steamList">

        </div>
    </div>
</body>
</html>
